<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.thetraveller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/backpack"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".BoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PhoneAuth" />
        <activity android:name=".DummyActivity" />
        <activity android:name=".Destination.Delhi" />
        <activity android:name=".Destination.Hyderabad" />
        <activity android:name=".Destination.Bangalore" />
        <activity android:name=".Destination.Chennai" />
        <activity android:name=".Destination.Mumbai" />
        <activity android:name=".Destination.Kolkata" />
        <activity android:name=".Destination.LoadingScreenMumbai" />
        <activity android:name=".Destination.LoadingScreenChennai" />
        <activity android:name=".Destination.LoadingScreenKolkata" />
        <activity android:name=".Destination.LoadingActivitybangalore" />
        <activity android:name=".Destination.LoadingScreenDelhi" />
        <activity android:name=".Destination.LoadingScreenHyderabad" />
        <activity android:name=".DescriptionActivity" />
        <activity android:name=".Destination.InfoDelhi" />
        <activity android:name=".Destination.info_bangalore" />
        <activity android:name=".Destination.info_mumbai" />
        <activity android:name=".Destination.infoKolkata" />
        <activity android:name=".Destination.infoHyd" />
        <activity android:name=".Destination.infoChennai" />
        <activity
            android:name=".Travel.TravelActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".MyFriends.MyFriendsActivity" />
        <activity android:name=".MyTrips.MyTripsActivity" />
        <activity android:name=".Travel.HotelActivity" />
        <activity android:name=".Travel.ShoppingActivity" />
        <activity android:name=".Travel.MapViewRealtimeActivity" />
        <activity android:name=".Travel.MapsActivity" />
        <activity android:name=".Utils.UtilActivity" />
        <activity android:name=".Utils.CompassActivity" />
        <activity android:name=".Utils.CurrencyActivity" />
        <activity android:name=".Utils.ChecklistActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".MyTrips.TripsActivity"
            android:label="@string/title_activity_trips"
            android:theme="@style/AppTheme" />

        <activity android:name=".Destination.CityMaps"></activity>
            android:theme="@style/AppTheme" />
        <activity android:name=".AddTrip" />
        <activity android:name=".LoadingHotel" />
        <activity android:name=".HotelActivity" />
        <activity android:name=".LoadingShopping" />
        <activity android:name=".Conversion" />
        <activity android:name=".WeatherActivity"></activity>

    </application>

</manifest>